.body {
  color: #315345;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #315345;
}
.h2-create {
  color: #4f9f80;
}
.form-wrapper {
  width: 450px;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: #edf2ef;
}

form {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName,
.email,
.Name,
.Password,
.confirmPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  margin-top: 25px;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #4f9f80;
  border-color: #edf2ef;
  color: #edf2ef;
  border: 2px solid #edf2ef;
  width: 350px;
  margin-top: 1rem;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.createAccount button:hover {
  color: #4f9f80;
  background-color: #edf2ef;
  border: 2px solid #4f9f80;
  cursor: pointer;
}
