body {
  background-color: #315345;
}

h2 {
  color: #edf2ef;
  margin-top: 125px;
  text-align: center;
  font-size: xx-large;
  font-weight: "Roboto";
}
h3 {
  color: #edf2ef;

  text-align: center;
  margin-top: 25px;
  font-size: large;
}
h4 {
  color: #edf2ef;

  text-align: left;
  margin-left: 70px;

  font-size: large;
}
h5 {
  color: #edf2ef;

  text-align: right;

  margin-right: 70px;
  font-size: large;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.download-btn {
  border: 2px solid;
  background-color: #4f9f80;
  border-color: #edf2ef;
  width: 200px;
  height: 50px;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
  margin-left: 750px;
  margin-right: auto;
  color: #edf2ef;
}
.download-btn2 {
  border: 2px solid;
  background-color: #4f9f80;
  border-color: #edf2ef;
  width: 200px;
  height: 50px;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
  margin-right: 750px;
  margin-left: auto;
  color: #edf2ef;
}

.download-btn:hover {
  color: #4f9f80;
  background-color: #edf2ef;
  border: 2px solid #4f9f80;
  cursor: pointer;
}
.download-btn2:hover {
  color: #4f9f80;
  background-color: #edf2ef;
  border: 2px solid #4f9f80;
  cursor: pointer;
}
